In [53]:
import pandas as pd
import pickle
import statsmodels
import numpy as np

Steps to work with dataset
1. Read the dataset
2. Clean the dataset
3. Display list of columns
4. Set prediction target
5. Selction of Features

Building the model
1. split and train
2. Define
3. Fit
4. Predict
5. Evaluate

In [54]:
rd=pd.read_csv('Reliance.csv')
rd.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1.232000e+03
mean,1036.035414,1048.479285,1023.015573,1035.164502,1024.471417,9.981743e+06
std,463.719976,469.906022,455.946191,462.301697,466.231636,7.603435e+06
min,459.000000,465.649994,444.049988,453.274994,434.061554,1.283997e+06
25%,551.925003,561.393768,546.000000,553.049988,540.720703,5.555522e+06
50%,959.099976,972.474976,946.675018,960.949982,946.843903,7.560520e+06
75%,1309.024963,1321.649963,1292.274963,1308.337494,1298.972321,1.140781e+07
max,2325.000000,2369.350098,2310.550049,2324.550049,2324.550049,6.523004e+07

In [68]:
#cleaning the data (dropping not avaliable data)
rd=rd.dropna()

rd['Time']=np.arange(len(rd.index))
rd.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Time
0,2015-11-18,463.799988,465.649994,454.975006,456.000000,436.671021,5142766.0,0
1,2015-11-19,459.450012,469.350006,458.625000,467.375000,447.563873,5569752.0,1
2,2015-11-20,467.000000,476.399994,462.774994,473.424988,453.357422,5167930.0,2
3,2015-11-23,475.000000,478.950012,473.100006,476.875000,456.661224,4800026.0,3
4,2015-11-24,476.500000,485.799988,475.524994,483.850006,463.340515,6768886.0,4

In [56]:
#Displaying list of columns
rd.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Time'], dtype='object')

In [57]:
#set prediction target
y=rd.Close

In [72]:
#selecting the features
rd_features=['Open', 'High', 'Low', 'Close']
x=rd[rd_features]
x.head()

         Open        High         Low       Close
0  463.799988  465.649994  454.975006  456.000000
1  459.450012  469.350006  458.625000  467.375000
2  467.000000  476.399994  462.774994  473.424988
3  475.000000  478.950012  473.100006  476.875000
4  476.500000  485.799988  475.524994  483.850006

In [73]:
#Building the model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

#split into validation and training data
train_x,val_x,train_y,val_y=train_test_split(x,y,random_state=1)

##TIme series model Dataset adjustment
# load and preprocss dataset
model=LinearRegression()

# Fit
model.fit(train_x,train_y)


# Make predictions
# Example: predict the next 5 steps
y_pred=model.predict(val_x)

#Evalution
mse=mean_squared_error(val_y,y_pred)
print("Mean square error is :", mse)

Mean square error is : 1.5862128223673116e-26

In regression tasks like predicting stock prices, accuracy is not the appropriate metric because it is used for classification tasks. For regression, we typically use metrics like Mean Absolute Error (MAE), Mean Squared Error (MSE), or R-squared to evaluate the model's performance. Since you have already calculated the MSE, you can use that as a measure of the model's accuracy.

In [75]:
#saving the model
with open('reliance.pkl','wb') as f:
    pickle.dump(model,f)